extends layout

block content
  main.w-full.h-full.p-3(class='md:p-0')
    if user
      form.font-bold.w-full.mx-auto.flex.flex-col.w-full(
        class='dark:text-black md:w-6/12 md:mt-5',
        method='POST'
      )
        input#post-title.px-5.py-2.rounded-t-lg.border.border-gray-600.placeholder-zinc-400.text-gray-200(
          class='focus:outline-none focus:border-sky-600 focus:ring-1 dark:bg-zinc-900',
          type='text',
          name='title',
          placeholder='Title',
          value=message ? message.title : ''
        )
        textarea#post-message.p-5.rounded-b-lg.border.border-gray-600.border-t-none.placeholder-zinc-400.text-gray-200(
          class='focus:outline-none focus:border-sky-600 focus:ring-1 dark:bg-zinc-900',
          name='text',
          placeholder='Share your message!'
        )= message ? message.text : ''
        input(type='hidden', name='user', value=user)
        div.w-full.flex.justify-end.items-center
          if errors
            ul.mr-auto.pl-5.text-gray-200.font-normal.text-sm.text-red-500.list-disc
              each error of errors
                li= error.msg
          button.w-full.font-semibold.shadow.shadow-md.shadow-gray-900.bg-violet-600.text-gray-200.my-3.px-4.py-2.rounded.btn-text-shadow(
            class='active:bg-violet-700 md:w-1/5',
            type='submit'
          )
            | Submit

    if messages
      div.mt-10.pb-10.w-full.messages-wrapper
        h1.text-4xl.font-normal.text-center.mx-auto.my-10.brand(class='md:w-9/12') Latest stories
        ul.flex.justify-center.flex-wrap.mx-auto.messages(class='md:w-9/12 md:gap-5')
          each msg of messages
            li.w-full.p-5.border-b.border-b-gray-500.shrink-0.flex.flex-col.message(
              class='first:rounded-md first:rounded-b-none last:rounded-b-md md:max-w-md md:rounded md:rounded-md md:first:rounded-b-md md:border-0 md:w-auto'
            )
              p.mb-2.font-semibold= msg.title
              p.mb-3= msg.text
              div.mt-auto
                if user && user.membership_status === 'member'
                  a.font-bold.text-sm(href='#')
                    span.align-bottom @
                    span= msg.author.username
                else
                  a.font-bold.text-sm.flex.items-end(
                    href='/upgrade',
                    title='Upgrade your membership to reveal usernames!'
                  )
                    span.mr-1 by #{ ' ' }
                    span.bg-violet-300.rounded-lg.w-20.h-4
              p.text-sm.text-gray-300= msg.timestamp_formatted
        p.mx-auto.w-max.text-xl.my-10.msg-no-posts There are no more posts.
