<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="dark:bg-zinc-900 dark:text-white">
    <% if (typeof user !== 'undefined') { %>
    <a href="/logout"
      ><button
        class="bg-blue-500 active:bg-blue-600 text-white px-4 py-2 rounded"
        type="button"
      >
        Sign Out
      </button></a
    >
    <% } else { %>
    <a href="/sign-in"
      ><button
        class="bg-blue-500 active:bg-blue-600 text-white px-4 py-2 rounded"
        type="button"
      >
        Sign in
      </button></a
    >
    <a href="/sign-up"
      ><button
        class="bg-blue-500 active:bg-blue-600 text-white px-4 py-2 rounded"
        type="button"
      >
        Sign up
      </button></a
    >
    <% } %>

    <h1 class="text-3xl font-bold underline"><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (typeof user !== 'undefined') { %>
    <form class="flex flex-col max-w-lg dark:text-black m-3" method="POST">
      <input
        class="
          px-5
          py-2
          rounded-t-lg
          border border-zinc-500
          font-bold
          focus:outline-none focus:border-sky-600 focus:ring-1
          dark:bg-zinc-600 dark:text-white
          placeholder-zinc-400
        "
        type="text"
        name="title"
        placeholder="Title"
        value="<%= typeof message !== 'undefined' ? message.title : '' %>"
      />
      <textarea
        class="
          p-5
          rounded-b-lg
          border border-zinc-500 border-t-none
          font-bold
          focus:outline-none focus:border-sky-600 focus:ring-1
          dark:bg-zinc-600 dark:text-white
          placeholder-zinc-400
        "
        name="text"
        placeholder="Share your message!"
      >
<%= typeof message !== 'undefined' ? message.text : '' %></textarea
      >
      <input type="hidden" name="user" value="<%= user %>" />
      <div class="md:flex justify-content-right">
        <div class="md:w-2/3 p-3 dark:text-white">
          <% if (typeof errors !== 'undefined') {%>
          <ul>
            <% for(const err of errors) { %>
            <li class="pl-3">- <%= err.msg %></li>
            <%}%>
          </ul>
          <%}%>
        </div>
        <button
          class="
            shadow
            bg-blue-500
            active:bg-blue-600
            text-white
            my-2
            px-4
            py-2
            rounded
            max-w-xs
            md:w-1/3
          "
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
    <% } %>
  </body>
</html>
