extends layout

block content
  main.w-full.min-h-screen.p-3(class='md:p-0')
    if user
      form.font-bold.mx-auto.flex.flex-col.w-full(
        class='w-11/12 lg:w-6/12 md:mt-5',
        method='POST'
      )
        input#post-title.px-4.py-5.text-4xl.rounded-t-lg.border-2.border-gray-600.placeholder-zinc-400.text-gray-200(
          class='lg:px-5 lg:py-2 lg:text-base lg:border focus:outline-none focus:border-sky-600 focus:ring-1 bg-zinc-900',
          type='text',
          name='title',
          placeholder='Title',
          value=message ? message.title : ''
        )
        textarea#post-message.p-7.text-4xl.rounded-b-lg.border-2.border-gray-600.border-t-none.placeholder-zinc-400.text-gray-200(
          class='lg:p-5 lg:text-base lg:border focus:outline-none focus:border-sky-600 focus:ring-1 bg-zinc-900',
          name='text',
          placeholder='Share your message!'
        )= message ? message.text : ''
        input(type='hidden', name='user', value=user)
        div.w-full.flex.justify-end.items-center
          if errors
            ul.mr-auto.pl-5.text-gray-200.font-normal.text-sm.text-red-500.list-disc
              each error of errors
                li= error.msg
          button.w-full.py-7.text-3xl.font-semibold.shadow-md.shadow-gray-900.bg-violet-600.text-gray-200.my-3.rounded.btn-text-shadow(
            class='active:bg-violet-700 lg:w-1/5 lg:px-4 lg:py-2 lg:text-base',
            type='submit'
          )
            | Submit

    if messages
      div.mt-10.pb-10.w-full.min-h-screen.messages-wrapper
        h1.text-6xl.font-normal.text-center.mx-auto.mt-20.mb-10.brand(
          class='lg:text-4xl md:w-9/12 lg:my-10'
        ) Latest stories
        ul.max-w-screen-xl.flex.justify-center.flex-wrap.mx-auto.messages(
          class='md:gap-5'
        )
          each msg of messages
            li.relative.p-10.border-b.border-b-gray-500.shrink-0.flex.flex-col.message(
              class='lg:p-5 lg:max-w-lg lg:w-max w-11/12 first:rounded-md first:rounded-b-none last:rounded-b-md md:rounded-md md:first:rounded-b-md md:border-0'
            )
              p.font-semibold.text-4xl.text-gray-200(class='lg:text-lg')= msg.title
              p.my-5.text-3xl.leading-9.text-gray-200(class='lg:text-base')= msg.text
              div.mt-auto
                if user && (user.membership_status === 'member' || user.isAdmin)
                  a.font-bold.text-xl.text-gray-200(class='lg:text-sm', href='#')
                    span.text-3xl.align-bottom(class='lg:text-sm') @
                    span.text-3xl(class='lg:text-sm')= msg.author.username
                else
                  a.font-bold.text-xl.flex.items-center(
                    class='lg:text-sm lg:items-end',
                    href='/upgrade',
                    title='Upgrade your membership to reveal usernames!'
                  )
                    span.text-3xl.mr-1(class='lg:text-sm') by #{ ' ' }
                    span.bg-violet-300.rounded-lg.w-20.h-5(class='lg:h-4')
              p.text-2xl.text-gray-300(class='lg:text-sm')= msg.timestamp_formatted
              if user && user.isAdmin
                a(href=`/${msg._id}/delete`)
                  button.absolute.top-2.right-2.fill-red-500(type='submit')
                    svg(
                      xmlns='http://www.w3.org/2000/svg',
                      width='24',
                      height='24',
                      viewBox='0 0 24 24'
                    )
                      path(
                        d='M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-12v-2h12v2z'
                      )
        p.mx-auto.w-max.text-3xl.text-gray-200.my-10.msg-no-posts(class='lg:text-xl') There are no more posts.
