html
  head
    title #{ title }
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='icon', href='/images/logo.ico')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'
    )
    script(src='https://cdn.tailwindcss.com')
  body.m-auto.flex.flex-col.items-center.bg-zinc-900.min-h-screen(
    class='dark:text-gray-200'
  )
    header.w-screen.p-7.flex.justify-between.flex-wrap(class='lg:p-3 lg:px-5')
      a.text-4xl.brand.mr-7.flex.items-center.gap-1(
        href='/',
        class='sm:mr-0 lg:text-2xl lg:pl-4'
      )
        div.h-8(class='lg:h-6')
          img.h-full.invert(src='/images/logo.ico', alt='')
        span clubhouse
      if user
        div.flex.justify-between.items-center(class='sm:block')
          if user.isAdmin
            a.text-3xl.font-semibold.mr-6.text-orange-500.hidden(
              href='#',
              class='sm:inline-block lg:text-base'
            )= user.first_name
          else
            a.text-4xl.font-semibold.mr-6.hidden(
              href='#',
              class='sm:inline-block lg:text-base'
            )= user.first_name
          if user.membership_status === 'user'
            a(href='/upgrade')
              button.text-2xl.font-semibold.bg-violet-600.text-gray-200.py-4.px-8.rounded.mx-2(
                class='active:bg-violet-700 lg:text-base lg:px-4 lg:py-2',
                type='button'
              )
                | Upgrade
          a(href='/logout')
            button.text-2xl.font-semibold.bg-violet-600.text-gray-200.py-4.px-8.rounded(
              class='active:bg-violet-700 lg:text-base lg:px-4 lg:py-2',
              type='button'
            )
              | Sign out

      else
        a.mx-1(href='/sign-in')
          button.text-2xl.font-semibold.bg-violet-600.text-gray-200.py-4.px-8.rounded(
            class='active:bg-violet-700 lg:text-base lg:px-4 lg:py-2',
            type='button'
          )
            | Sign in
    block content
