html
  head
    title #{ title }
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='icon', href='/images/logo.ico')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'
    )
    script(src='https://cdn.tailwindcss.com')
  body.m-auto.flex.flex-col.items-center.bg-zinc-900.min-h-screen(
    class='dark:text-gray-200'
  )
    header.w-full.p-3.text-right.flex.justify-center.flex-wrap.gap-2(
      class='sm:justify-between sm:gap-0'
    )
      a.text-2xl.brand.mx-7.flex.items-center.gap-1(href='/', class='sm:mr-0')
        img.h-6.invert(src='/images/logo.ico', alt='')
        span clubhouse
      if user
        div.flex.justify-between.items-center(class='sm:block')
          if user.isAdmin
            a.font-semibold.mr-6.text-orange-500.hidden(
              href='#',
              class='sm:inline-block'
            )= user.first_name
          else
            #{console.log(user)}
            a.font-semibold.mr-6.hidden(href='#', class='sm:inline-block')= user.first_name
          if user.membership_status === 'user'
            a(href='/upgrade')
              button.font-semibold.bg-violet-600.text-gray-200.px-4.py-2.rounded.mx-2(
                class='active:bg-violet-700',
                type='button'
              )
                | Upgrade
          a(href='/logout')
            button.font-semibold.bg-violet-600.text-gray-200.px-4.py-2.rounded(
              class='active:bg-violet-700',
              type='button'
            )
              | Sign out

      else
        a.mx-1(href='/sign-in')
          button.font-semibold.bg-violet-600.text-gray-200.px-4.py-2.rounded(
            class='active:bg-violet-700',
            type='button'
          )
            | Sign in
    block content
