extends layout

block content
  div.w-full.h-full.absolute.signin-bg
  main.w-full.h-full.bg-transparent
    div.w-full.mt-20
      form.border.border-gray-700.shadow-sm.shadow-purple-500.rounded-md.px-8.pt-6.pb-8.mb-4.mx-auto.max-w-xs(
        class='dark:bg-neutral-900',
        method='POST'
      )
        h1.mb-4.text-xl.font-semibold Sign in
        div.mb-4
          label.block.text-gray-300.text-sm.font-bold.mb-2(for='username') Username
          input#username.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight(
            type='text',
            name='username',
            placeholder='Username',
            value=username ? username : ''
          )
          p.font-normal.text-red-500.text-sm.pt-1= usernameError ? usernameError.msg : ''
        div.mb-6
          label.block.text-gray-300.text-sm.font-bold.mb-2(for='password') Password
          input#password.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight(
            type='password',
            name='password',
            placeholder='********'
          )
          p.font-normal.text-red-500.text-sm.pt-1= passwordError ? passwordError.msg : ''
          a.text-sm.font-normal.pr-2.mt-2.text-gray-200(
            href='#',
            class='hover:underline'
          ) Forgot your password?
        div.flex.items-center.justify-between
          button.bg-violet-600.text-gray-200.font-semibold.px-4.py-2.mb-3.rounded.w-full(
            class='active:bg-violet-700',
            type='submit'
          ) Sign in
        a.font-normal.text-sm.mt-2.text-cyan-300(
          href='/sign-up',
          class='hover:underline'
        ) No account? Sign up!
    a.absolute.right-2.bottom-2.text-xs(
      href='https://unsplash.com/photos/9yMSPi6u6XI',
      target='_blank'
    ) Photo by Alfons Morales on Unsplash
