html
  head
    title= title
    link(rel="stylesheet", href="/styles/style.css")
    script(src="https://cdn.tailwindcss.com")
  body(class="dark:bg-zinc-900 dark:text-white")
    p Upgrade today and have exclusive access to all clubs, as well as seeing who posted what.
    form(method="POST")
      label Please enter the secret passcode:
      input(
        type="password",
        name="secret",
        placeholder="********",
        class="dark:text-black"
      )
      button(type="submit") Submit
